.box {
  width: 200px;
  height: 200px;
  background-color: red;
  color: #fff;
  margin: 300px auto;
  text-align: center;
  font-size: 3rem;
  line-height: 200px;
  transition: 2s;

  /* Transform: rotate(x,y)  */
  /* transform: rotate(45deg); */
  rotate: 45deg;
  transform: rotateX(45deg);

  /* Transform: scale(value,x,y) */
  transform: scale(1); /* default */
  /* transform: scale(1.3, 1.5); */
  transform: scale(1.3);
  transition: scaleX(1.5);
  /* scale: 1.3; */

  /* Transform: Skew(x,y) */
  transform: skew(20deg);
  transform: skew(20deg, 30deg);
  transform: scaleX(50deg);

  /* Transform: translate(x,y) */
  transform: translate(12px);
  transform: translateX(12px);
  transform: translateY(12px);
  translate: 12px;
  translate: 12px 14px;
  transform: translate(50%, 50%);
}

.box:hover {
  /* transform: rotate(45deg); */
  /* transform: scale(1.3); */
}
